<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Church Seating Optimization Program</title>
  </head>
  <body>
    <h1 style="margin-left:10px">Church Seating Optimization Program</h1>
    <form style="margin-top:10px;margin-bottom:10px;margin-left:10px;margin-right:10px">
      <div class="form-group">
        <label for="maxCapacity">Maximum Capacity</label>
        <input type="text" class="form-control" name="maxCapacity" placeholder="100" required>
        <small id="maxCapacityHelp" class="form-text text-muted">This number represents the TOTAL number of people allowed in the church.</small>
      </div>
      <div class="form-group">
        <label for="numReservedSeating">Number of Reserved Seating</label>
        <input type="text" class="form-control" name="numReservedSeating" placeholder="10">
        <small id="reservedSeatingHelp" class="form-text text-muted">This number represents the number of people to not
        include in the seating chart, but need space in the church to sit. Do not include the pews you are reserving for
        them in the pew info CSV file. This number is only used in calculating how many potential families can be seated.</small>
      </div>
      <!-- @feature ability to take in various units of measurement -->
      <div class="form-group">
        <label for="sepRad">Separation Radius (in feet)</label>
        <input type="text" class="form-control" name="sepRad" placeholder="6" required>
        <small id="sepRadHelp" class="form-text text-muted">How far away each group needs to be seated from one another.
        CoVid-19 social distancing guidelines require at least 6 feet.</small>
      </div>
      <div class="form-group">
        <label for="seatWidth">Seat Width (in inches)</label>
        <input type="text" class="form-control" name="seatWidth" placeholder="18" required>
        <small id="seatWidthHelp" class="form-text text-muted">Width of a seat in inches.</small>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="pewFile" name="pewFile" required>
        <label class="custom-file-label" for="pewFile">Pew Info CSV File</label>
        <small id="pewInfoCsvHelp" class="form-text text-muted">The file containing information on the pews.</small>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="familyFile" name="familyFile" required>
        <label class="custom-file-label" for="familyFile">Household Info CSV File</label>
        <small id="householdCsvHelp" class="form-text text-muted">The file containing all of the household reservations info.</small>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="fcfs">
        <label class="form-check-label" for="fcfs">First-come, first-serve</label>
      </div>
      <button type="submit" style="margin-top:10px" class="btn btn-primary" id="submitBtn">Submit</button>
    </form>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Optional JavaScript -->
    <script src="{{url_for('static', filename="js/upload.js")}}"></script>
  </body>
</html>

